option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: djangoreact.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: djangoreact.settings
    "PYTHONPATH": "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
     /static: static
  aws:elasticbeanstalk:environment:proxy:
     ProxyServer: apache                  