container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python djangoreact/manage.py migrate --noinput"
    leader_only: true

  02_install_node:
    command: "npm install"
    leader_only: true

  03_build_react:
    command: "npm run build"
    leader_only: true
    cwd: "frontend"  # path to your frontend directory

  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python djangoreact/manage.py collectstatic --noinput"


option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djangoreact.settings"
    "PYTHONPATH": "/opt/python/current/app/djangoreact:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djangoreact/djangoreact/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "frontend/static/"