files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      user: www-data;

container_commands:
  01_change_nginx_permissions:
    command: "usermod -a -G ec2-user www-data"
    ignoreErrors: true

  02_restart_nginx:
    command: "service nginx restart"
    ignoreErrors: false
